{
	"useTabs": true,
	"singleQuote": true,
	"bracketSameLine": true,
	"proseWrap": "never", 
	"singleAttributePerLine": false,
	"trailingComma": "none",
	"printWidth": 600,
	"disableLanguages": ["html", "svelte"],
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
